<footer class="site-footer">
    <div class="container">
      <div class="row">
         <div class="col-12 col-md-4">
            <h6> About Us </h6>
            <p class="text-left"> 
             <b>  Lorem Ipsu  </b>
               Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
         </div>
         <div class="col-6 col-md-2">
            <h6> Quick Links </h6>
            <ul class="footer-links">
               <li><a href="#">Home</a></li>
               <li><a href="#">About Us</a></li>
               <li><a href="#">News</a></li>
               <li><a href="#">Gallery</a></li>
               <li><a href="#">Contact Us</a></li>
            </ul>
         </div>
         <div class="col-6 col-md-2">
            <h6> Quick Links </h6>
            <ul class="footer-links">
               <li><a href="#">Home</a></li>
               <li><a href="#">About Us</a></li>
               <li><a href="#">News</a></li>
               <li><a href="#">Gallery</a></li>
               <li><a href="#">Contact Us</a></li>
            </ul>
         </div>
         <div class="col-12 col-md-4">
            <h6> Address </h6>
            <ul class="footer-links">
               <li> <a href="#"> <i class="fa fa-envelope"></i> supportyoursite.com </a> </li>
               <li> <a href="#"> 
                 <i class="fa fa-phone"></i> +91-201011291900 </a> </li>
               <li> <span class="icon"> <i class="fa fa-map-marker"></i></span> <span class="adrs"> Lorem Ipsum is simply dummy text of the printing and typesetting industry </span> </li>
            </ul>
         </div>
      </div>
   </div>
</footer>
<div class="footer-bottom">
  <p> &copy;  Lorem Ipsu 2020 </p>
</div>